// Couleurs
$color-1: #FFFFFF;
$color-2: black;
$color-3:#7843E9;
$color-4:#EFEFEF;
/*_____________________________________________________________*/

//Police
$police-1: "Montserrat", sans-serif;
$police-2: "Gloock", serif;
/*_____________________________________________________________*/

//Arrangements

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  //overflow: hidden;
  font-family: $police-1;
  color: $color-2;
}

#root,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
